
<p id="notice"><%= notice %></p>

<h1 class="center">Items</h1>

<div id="items" class="row">
  <% @items.each do |item| %>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <% if item.images.attached? %>
            <%= cl_image_tag(item.images[0].key, :width=>100, :crop=>"fit") %>
          <% else %>
            <img src="http://placekitten.com/200/200">
          <% end %>
        </div>
        <div class="card-title center">
          <%= (item.brand + ' ' + item.model)[0, 16] %>
        </div>
        <div class="card-content purple white-text">
          <p><%= item.description[0, 50] %><p>
          <p><%= item.price %><p>
        </div>
        <div class="card-action">
          <p><%= link_to "View", item %><p>
        </div>
      </div>
    </div>
  <% end %>
</div>